@import url('../theme.css');

/* sockets */
.socket{
    width: var(--socket-size);
    height: var(--socket-size);
    border: 1px solid rgb(48, 48, 48);
}
.socket:hover{
    border: 3px solid rgb(48, 48, 48);
}

.socket.input{
    margin-left: calc(-1 * var(--socket-size) / 2);
}
.socket.output{
    margin-right: calc(-1 * var(--socket-size) / 2);
}

.socket.string-value {
    background: var(--highlight-color-2);
}
.socket.number-value {
    background: var(--highlight-color-3);
}
.socket.dictionary-value {
    background: var(--highlight-color-4);
}
.socket.default {
    background: grey;
}

/* connections */
.connection .main-path {
    fill: none;
    stroke-width: 5px;
    stroke: rgb(148, 148, 148);
}


/* nodes */
.node{
    box-shadow:6px 6px 13px 2px rgba(0,0,0,0.75);
    background: var(--item-background);
    border-color: var(--item-border-color);
}

.node .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

  }

  .node .node-name {
    margin: 0 auto;
    text-align: center;
  }
  

  .titlebar-controls {
    position: absolute;
    right: 5px;
  }

  .titlebar-control {
    z-index: -1;
    padding-left: 1px;
    padding-right: 1px;
  }

  .title:hover .titlebar-control {
    z-index: 1;
    display: inline-block;
  }
  .titlebar-control.selected {
    z-index: 1;
    display: inline-block;
  }

/*node title bar colors*/
.node-processing-error {
    background: red;
  }
  
  .node-waiting-for-backend {
    background: var(--highlight-color-4);
  }
  
  .node-waiting-for-confirmation {
    background: var(--highlight-color-1);
  }
  
  .ghost-node {
    background: var(--highlight-color-3);
  }
  
  .default-node {
    background: var(--highlight-color-2);
  }
  

/* disable hover effect for now (same as unselected)*/
.node:hover {
    background: var(--item-background);
}

.node.selected {
    background: var(--item-background);
    border: 3px solid var(--select-highlight);
}

.node .title {
    padding: 5px;
    border-radius: inherit;
}

.outputs,
.controls,
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input:not(:last-child),
.output:not(:last-child) {
  margin-bottom: 10px;
}
/* controllers */
.default-text-item {
    background: var(--editable-item-backround);
    border-color: var(--item-border-color);
    color: var(--default-text-color);
    border-radius: var(--default-border-radius);
    font-size: small;
}

.default-button{
    background: var(--editable-item-backround);
    border-color: var(--item-border-color);
    color: var(--default-text-color);
    border-radius: var(--default-border-radius);
    font-size: small;
}

.default-button:hover{
    background: var(--button-hover-background-positive);
    border-color:var(--item-border-color);
    color: var(--default-text-color);
    border-radius: var(--default-border-radius);
    font-size: small;
}

.tooltip-content {
  background: var(--editable-item-backround);
  border-color: var(--item-border-color);
  color: var(--default-text-color);
  border-radius: var(--default-border-radius);
  resize: none;
  font-size: small;
  user-select: text;
  width: 95%;
}

/* chat box component */

.chat-control .input-area .input-wrapper {
    display: flex;
    font-size: small;
    background-color: var(--editable-item-backround);
    border-radius: var(--default-border-radius);
    border: var(--item-border);
    padding: 5px;
  }
  
.chat-control .input-area .send-button {
    position: relative;
    top: 5px;
    height: 2.5em;
    background-color: transparent;
    border-radius: var(--default-border-radius);
    color: var(--default-text-color);
    border: none;
}
  
.chat-control .input-area .send-button:hover,
.chat-control .edit-button:hover,
.chat-control .submit-edit-button:hover{
    background-color: var(--button-hover-background-positive);
    border: var(--item-border);
}

.chat-control .user-input {
    flex-grow: 1;
    width: fit-content;
    height: auto;
    max-height: 110px;
    border: none;
    background-color: transparent;
    resize: none;
    color: var(--default-text-color);
}


.chat-control{
    font-size: small;
    text-align: left;
    min-width: 400px;
    min-height: 400px;
    resize: both;
    color: var(--default-text-color);
    border: var(--item-border);
    border-radius: var(--default-border-radius);
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


  
.chat-control .messages-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
}

.chat-control .edit-button,
.chat-control .index-button {
    visibility: hidden;
    margin-left: 8px;
}

.chat-control .message:hover .edit-button,
.chat-control .message:hover .index-button {
  visibility: visible;
}

.chat-control .message {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    position: relative;
    white-space: pre-wrap;
    margin: 5px;
    padding: 5px;
  }

.chat-control .index-button,
.chat-control .edit-button {
    background-color: var(--item-background);
    color: var(--default-text-color);
    border-radius: var(--default-border-radius);
    font-size: larger;
    border: 2px transparent;
}

.chat-control .edit-input{
    background: var(--item-background);
    border-color:var(--item-border-color);
    color: var(--default-text-color);
    border-radius: var(--default-border-radius);
    font-size: small;
    width: 100%;
    flex-grow: 1;
    height: auto;
    min-height: 1.2em;
    resize: none;
    overflow: hidden;
    padding: 4px;
    margin: 5px;
}

.chat-control .edit-area{
    flex-grow: 1;
    margin: 5px;
    padding: 10px;

}

.chat-control .index-button:hover {
    background-color: var(--highlight-color-4);
    border: var(--item-border);
}






  

  



  


  

